<div ng-controller="digitalSignatureController">


  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="forms">Digital Signature</h1>
          <p class="lead">using Kid RSA</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Signing</h3>
          </div>
          <div class="panel-body">
            <p>TODO</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Verification</h3>
          </div>
          <div class="panel-body">
            <p>TODO</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="well">
          <div class="form-horizontal">
            <fieldset>
              <legend>Key Generation</legend>
              <input id="scenario" name="scenario" type="hidden" value="xor">
              <div class="form-group">
                <label for="a" class="col-lg-2 control-label">A</label>
                <div class="col-lg-10">
                  <input type="number" class="form-control" id="a" ng-model="a">
                </div>
              </div>
              <div class="form-group">
                <label for="b" class="col-lg-2 control-label">B</label>
                <div class="col-lg-10">
                  <input type="number" class="form-control" id="b" ng-model="b">
                </div>
              </div>
              <div class="form-group">
                <label for="a1" class="col-lg-2 control-label">A1</label>
                <div class="col-lg-10">
                  <input type="number" class="form-control" id="a1" ng-model="a1">
                </div>
              </div>
              <div class="form-group">
                <label for="b1" class="col-lg-2 control-label">B1</label>
                <div class="col-lg-10">
                  <input type="number" class="form-control" id="b1" ng-model="b1">
                </div>
              </div>
              <div class="form-group">
                <label for="publicKey" class="col-lg-2 control-label">Public Key</label>
                <div class="col-lg-10">
                  <input class="form-control" id="publicKey" value="{{publicKey(a, b, a1, b1)}}" readonly="true">
                </div>
              </div>
              <div class="form-group">
                <label for="privateKey" class="col-lg-2 control-label">Private Key</label>
                <div class="col-lg-10">
                  <input class="form-control" id="privateKey" value="{{privateKey(a, b, a1, b1)}}" readonly="true">
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="well">
          <div class="form-horizontal">
            <fieldset>
              <legend>Sign</legend>

              <div class="form-group">
                <label for="inputS" class="col-lg-2 control-label">Input</label>
                <div class="col-lg-10">
                  <input type="number" class="form-control" id="inputS" ng-model="input">
                </div>
              </div>

              <div class="form-group">
                <label for="hashFunctionS" class="col-lg-2 control-label">Hash Function</label>
                <div class="col-lg-10">
                  <select class="form-control" id="hashFunctionS" ng-model="hashfunS">
                    <option value="sumOfDigits">Repeated Sum of Digits</option>
                    <option value="md5">MD5</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <input type="button" class="btn btn-primary" ng-click="sign()" value="Sign">
                </div>
              </div>

              <div class="form-group">
                <label for="signatureOutput" class="col-lg-2 control-label">Signature</label>
                <div class="col-lg-10">
                  <input class="form-control" id="signatureOutput" ng-model="signatureOutput" readonly="true">
                </div>
              </div>

            </fieldset>
          </div>
        </div>
      </div>




      <div class="col-lg-6">
        <div class="well">
          <div class="form-horizontal">
            <fieldset>
              <legend>Verify</legend>

              <div class="form-group">
                <label for="inputV" class="col-lg-2 control-label">Input</label>
                <div class="col-lg-10">
                  <input type="number" class="form-control" id="inputV" ng-model="input">
                </div>
              </div>


              <div class="form-group">
                <label for="hashFunctionV" class="col-lg-2 control-label">Hash Function</label>
                <div class="col-lg-10">
                  <select class="form-control" id="hashFunctionV" ng-model="hashfunV">
                    <option value="sumOfDigits">Repeated Sum of Digits</option>
                    <option value="md5">MD5</option>
                  </select>
                </div>
              </div>


              <div class="form-group">
                <label for="signatureInput" class="col-lg-2 control-label">Signature</label>
                <div class="col-lg-10">
                  <input class="form-control" id="signatureInput" ng-model="signatureInput">
                </div>
              </div>


              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <input type="button" class="btn btn-primary" ng-click="verify()" value="Verify">
                </div>
              </div>

              <div class="form-group">
                <label for="output" class="col-lg-2 control-label">Match</label>
                <div class="col-lg-10">
                  <input class="form-control" id="output" ng-model="output" readonly="true">
                </div>
              </div>

            </fieldset>
          </div>
        </div>
      </div>




    </div>

  </div>
</div>
