<div ng-controller="hmacController">


  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="forms">HMAC</h1>
          <p class="lead">Message Authentication</p>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="well">
          <div class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <label for="input" class="col-lg-2 control-label">Input</label>
                <div class="col-lg-10">
                  <input class="form-control" id="input" ng-model="input" fix-hex>
                  <span class="help-block">binary: {{binary16(input)}}</span>
                </div>
              </div>
              <div class="form-group">
                <label for="key" class="col-lg-2 control-label">Key</label>
                <div class="col-lg-10">
                  <input class="form-control" id="key" ng-model="key" fix-hex>
                  <span class="help-block">binary: {{binary16(key)}}</span>
                </div>
              </div>
              <div class="form-group">
                <label for="hashFunction" class="col-lg-2 control-label">Hash Function</label>
                <div class="col-lg-10">
                  <select class="form-control" id="hashFunction" ng-model="hashfun">
                    <option value="sumOfDigits">Repeated Sum of Digits</option>
                    <option value="repetitiveXor">Repetitive XOR with 0x5c</option>
                    <option value="md5">MD5</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <input type="button" class="btn btn-primary" ng-click="hmac()" value="HMAC">
                </div>
              </div>
              <div class="form-group">
                <label for="output" class="col-lg-2 control-label">Output</label>
                <div class="col-lg-10">
                  <input class="form-control" id="output" ng-model="output" readonly="true">
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>


      <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">HMAC Algorithm</h3>
          </div>
          <div class="panel-body">
            <p>HMAC(input, key) =>  Hash((key ⊕ opad) ||  Hash((key ⊕ ipad) || input))</p>
            <p>opad is the outer padding (0x5c5c5c…5c5c)<br>ipad is the inner padding (0x363636…3636)</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
